# Collections and data stream

# Task 1.

In [25]:
import functools
from itertools import groupby

class Person:
    def __init__(self, name, surname, age, city):
        self.name = name
        self.surname = surname
        self.age = age
        self.city = city
    def __str__(self):
        return "Name: " + self.name + ". Surname: " + self.surname + ". Age: " + str(self.age) + ". City: " + self.city
    def __repr__(self):
        return "Surname: " + self.surname
    
people = []
people.append(Person("Ela", "Śmigalska", 34, "Lublin"))
people.append(Person("Mariusz", "Tomalski", 33, "Gdynia"))
people.append(Person("Janusz", "Nowak", 6, "Gdańsk"))
people.append(Person("Maria", "Bazowa", 9, "Warszawa"))
people.append(Person("Edek", "Śmigalsi", 33, "Lublin"))
people.append(Person("Michał", "Kowalski", 23, "Gdynia"))
people.append(Person("Paweł", "Tokarski", 31, "Poznań"))
people.append(Person("Michał", "Makowski", 25, "Gdynia"))
people.append(Person("Ela", "Tkaczyk", 28, "Poznań"))
people.append(Person("Paweł", "Mirecki", 34, "Lublin"))
people.append(Person("Paweł", "Dobrocki", 14, "Gdynia"))

# details of all the people
print(*people, sep="\n")

Name: Ela. Surname: Śmigalska. Age: 34. City: Lublin
Name: Mariusz. Surname: Tomalski. Age: 33. City: Gdynia
Name: Janusz. Surname: Nowak. Age: 6. City: Gdańsk
Name: Maria. Surname: Bazowa. Age: 9. City: Warszawa
Name: Edek. Surname: Śmigalsi. Age: 33. City: Lublin
Name: Michał. Surname: Kowalski. Age: 23. City: Gdynia
Name: Paweł. Surname: Tokarski. Age: 31. City: Poznań
Name: Michał. Surname: Makowski. Age: 25. City: Gdynia
Name: Ela. Surname: Tkaczyk. Age: 28. City: Poznań
Name: Paweł. Surname: Mirecki. Age: 34. City: Lublin
Name: Paweł. Surname: Dobrocki. Age: 14. City: Gdynia

### 1.1 List of people from Gdynia

In [24]:
result = list(filter(lambda a: a.city=="Gdynia", people))
print(*result, sep="\n")

Name: Mariusz. Surname: Tomalski. Age: 33. City: Gdynia
Name: Michał. Surname: Kowalski. Age: 23. City: Gdynia
Name: Michał. Surname: Makowski. Age: 25. City: Gdynia
Name: Paweł. Surname: Dobrocki. Age: 14. City: Gdynia

### 1.2 List of people older than 25 years old

In [23]:
result = list(filter(lambda a: a.age<25, people))
print(*result, sep="\n")

Name: Janusz. Surname: Nowak. Age: 6. City: Gdańsk
Name: Maria. Surname: Bazowa. Age: 9. City: Warszawa
Name: Michał. Surname: Kowalski. Age: 23. City: Gdynia
Name: Paweł. Surname: Dobrocki. Age: 14. City: Gdynia

### 1.3 List of people whose name consists of more than 3 letters

In [22]:
result = list(filter(lambda a: len(a.name)>3, people))
print(*result, sep="\n")

Name: Mariusz. Surname: Tomalski. Age: 33. City: Gdynia
Name: Janusz. Surname: Nowak. Age: 6. City: Gdańsk
Name: Maria. Surname: Bazowa. Age: 9. City: Warszawa
Name: Edek. Surname: Śmigalsi. Age: 33. City: Lublin
Name: Michał. Surname: Kowalski. Age: 23. City: Gdynia
Name: Paweł. Surname: Tokarski. Age: 31. City: Poznań
Name: Michał. Surname: Makowski. Age: 25. City: Gdynia
Name: Paweł. Surname: Mirecki. Age: 34. City: Lublin
Name: Paweł. Surname: Dobrocki. Age: 14. City: Gdynia

### 1.4 Average age of people from Poznań

In [5]:
peopleFromPoznan = list(filter(lambda a: a.city=="Poznań", people))
print(functools.reduce(lambda a,b: a.age+b.age, peopleFromPoznan)/len(peopleFromPoznan))

29.5

### 1.5 Number of people from each city

In [9]:
sortedCities = sorted(people, key=lambda a: a.city)
result = [ (key, len(list(data))) for(key,data) in groupby(sortedCities, key=lambda x: x.city) ]
print(*result, sep="\n")

('Gdańsk', 1)
('Gdynia', 4)
('Lublin', 3)
('Poznań', 2)
('Warszawa', 1)

### 1.6 List of people with the same name

In [10]:
sortedNames = sorted(people, key=lambda a: a.name)
result = [ (key, len(list(data))) for(key,data) in groupby(sortedNames, key=lambda x: x.name) ]
print(*result, sep="\n")

('Edek', 1)
('Ela', 2)
('Janusz', 1)
('Maria', 1)
('Mariusz', 1)
('Michał', 2)
('Paweł', 3)

### 1.7 List of people whose name begins with E

In [21]:
result = list(filter(lambda a: a.name.find("E", 0, 1) != -1, people))
print(*result, sep="\n")

Name: Ela. Surname: Śmigalska. Age: 34. City: Lublin
Name: Edek. Surname: Śmigalsi. Age: 33. City: Lublin
Name: Ela. Surname: Tkaczyk. Age: 28. City: Poznań

### 1.8 List of people whose name contains "la"

In [20]:
result = list(filter(lambda a: a.name.find("la") != -1, people))
print(*result, sep="\n")

Name: Ela. Surname: Śmigalska. Age: 34. City: Lublin
Name: Ela. Surname: Tkaczyk. Age: 28. City: Poznań

### 1.9 Distinct list of all cities, sorted ascending.

In [15]:
sortedCities = sorted(people, key=lambda a: a.city)
result = [ (key) for(key,data) in groupby(sortedCities, key=lambda x: x.city) ]
print(*result, sep="\n")

Gdańsk
Gdynia
Lublin
Poznań
Warszawa

### 1.10 Age of the oldest person

In [28]:
# with sort
resultSorted = sorted(people, key=lambda a: a.age, reverse=True)
print(resultSorted[0].age)

# with reduce
resultReduce = functools.reduce(lambda x, y: x if x.age > y.age else y, people)
print(resultReduce.age)

34
34

# Task 2.
### Processing at data from file

In [2]:
import functools
from itertools import groupby, islice

class Person:
  def __init__(self, data):
    self.age = int(data[0]);
    self.workclass = data[1];
    self.fnlwgt = data[2];
    self.education = data[3];
    self.educationNum = int(data[4]);
    self.maritalStatus = data[5];
    self.occupation = data[6];
    self.relationship = data[7];
    self.race = data[8];
    self.sex = data[9];
    self.capitalGain = data[10];
    self.capitalLoss = data[11];
    self.hoursPerWeek = int(data[12]);
    self.nativeCountry = data[13];
    self.gainClass = data[14];
    
  def __str__(self):
    return str(vars(self))

  def __repr__(self):
    return str(self.age) + "..."
 
def read():
    for row in open("adult.data", "r"):
        if( row.strip()):
            yield Person( row.split(", "))
        
def countElements(gen):
    return sum(1 for g in gen)
    

# read data from file
people = read()

# show first four people
print(list(islice(people, 4)))

[39..., 50..., 38..., 53...]

### 2.1. Womens from Mexico with HS-grad education.

In [3]:
womens = list(filter(lambda o: o.sex=="Female" and o.nativeCountry=="Mexico" and o.education=="HS-grad", read()))
print(womens)

[23..., 31..., 32..., 53..., 29..., 40..., 28..., 20..., 26..., 20..., 25..., 56..., 24..., 20..., 29..., 25..., 20..., 22..., 31..., 30..., 26..., 26..., 27..., 31..., 25..., 34..., 24..., 37..., 41..., 22..., 51..., 20..., 28..., 22..., 28..., 33..., 24...]

### 2.2. Number of people who took part in the census, divide by womens and men.

In [6]:
peopleSorted = sorted(read(), key=lambda a: a.sex)
result = [ (key, len(list(data))) for(key,data) in groupby(peopleSorted, key=lambda x: x.sex) ]
print(*result, sep="\n")

('Female', 10771)
('Male', 21790)

### 2.3 Average age of Never-married people with form of employment Private.

In [7]:
peopleNeverAndPrivate = list(filter(lambda o: o.maritalStatus == "Never-married" and o.workclass == "Private", read()))
print(functools.reduce(lambda a,b: a+b.age, peopleNeverAndPrivate, 0)/len(peopleNeverAndPrivate))

27.64769118006352

### 2.4. Number of people with education numerically 9 to 13 working 20 to 30 hours per week grouped by form of employment.

In [11]:
peopleFiltered = list(filter(lambda o: o.educationNum >= 9 and o.educationNum <= 13 and o.hoursPerWeek >= 20 and o.hoursPerWeek <= 30, read()))
peopleFilteredAndSorted = sorted(peopleFiltered, key=lambda a: a.workclass)
result = [ (key, len(list(data))) for(key,data) in groupby(peopleFilteredAndSorted, key=lambda x: x.workclass) ]

print(*result, sep="\n")

('?', 321)
('Federal-gov', 28)
('Local-gov', 106)
('Private', 1871)
('Self-emp-inc', 48)
('Self-emp-not-inc', 223)
('State-gov', 87)
('Without-pay', 5)

### 2.5 Numbers of people from the US with the same education

In [13]:
peopleFromUS = list(filter(lambda o: o.nativeCountry == "United-States", read()))
peopleFromUSSortedByEducation = sorted(peopleFromUS, key=lambda a: a.education)
result = [ (key, len(list(data))) for(key,data) in groupby(peopleFromUSSortedByEducation, key=lambda x: x.education) ]

print(*result, sep="\n")

('10th', 848)
('11th', 1067)
('12th', 365)
('1st-4th', 46)
('5th-6th', 97)
('7th-8th', 499)
('9th', 395)
('Assoc-acdm', 982)
('Assoc-voc', 1289)
('Bachelors', 4766)
('Doctorate', 328)
('HS-grad', 9702)
('Masters', 1527)
('Preschool', 17)
('Prof-school', 502)
('Some-college', 6740)

### 2.6 Average hours worked per week by Bachelors degree holders for each form of employment.

In [14]:
peopleWithBachelors = list(filter(lambda o: o.education=="Bachelors", read()))
workclassSorted = sorted(peopleWithBachelors, key=lambda o: o.workclass)
workclassAverage = [ (key, list(map(lambda o: o.hoursPerWeek, data))) for(key,data) in groupby(workclassSorted, key=lambda x: x.workclass) ]

result = map(lambda o: (o[0], round(functools.reduce(lambda x,y: x+y, o[1])/len(o[1]), 2)), workclassAverage)
print(*result, sep="\n")

('?', 32.42)
('Federal-gov', 42.62)
('Local-gov', 42.14)
('Private', 42.7)
('Self-emp-inc', 49.4)
('Self-emp-not-inc', 44.18)
('State-gov', 39.69)

### 2.7. Minimum and maximum age of working people in different occupational groups.

In [15]:
occupationSorted = sorted(read(), key=lambda o: o.occupation)
occupations = [ (key, list(map(lambda o: o.age, data))) for(key,data) in groupby(occupationSorted, key=lambda x: x.occupation) ]

# TUPLE FORMAT:
# ("occupation", min. age, max. age)
ageInOccupations = map(lambda o: (o[0], 
                            functools.reduce(lambda x, y: x if x < y else y, o[1]),
                            functools.reduce(lambda x, y: x if x > y else y, o[1])
                            ), 
                occupations)

print(*ageInOccupations, sep="\n")

('?', 17, 90)
('Adm-clerical', 17, 90)
('Armed-Forces', 23, 46)
('Craft-repair', 17, 90)
('Exec-managerial', 17, 90)
('Farming-fishing', 17, 90)
('Handlers-cleaners', 17, 90)
('Machine-op-inspct', 17, 90)
('Other-service', 17, 90)
('Priv-house-serv', 17, 81)
('Prof-specialty', 17, 90)
('Protective-serv', 17, 90)
('Sales', 17, 90)
('Tech-support', 17, 73)
('Transport-moving', 17, 90)

### 2.8 List of men from Cuba or Jamaica with HS-grad education.

In [16]:
men = list(filter(lambda o: (o.nativeCountry=="Cuba" or o.nativeCountry=="Jamaica") and o.education=="HS-grad" and o.sex=="Male", read()))
print(men)

[33..., 57..., 38..., 35..., 41..., 44..., 82..., 77..., 28..., 53..., 21..., 72..., 57..., 33..., 42..., 39..., 47..., 24..., 59..., 25..., 18..., 37..., 55...]

### 2.9 Number of divorced people under the age of 30 from the US.

In [18]:
print(len(list(filter(lambda o: o.maritalStatus=="Divorced" and o.age<30 and o.nativeCountry=="United-States", read()))))

371

### 2.10 Numbers of people who took part in the census for each level of education.

In [19]:
educationSorted = sorted(read(), key=lambda o: o.education)
peopleWithEducation = [ (key, len(list(data))) for(key,data) in groupby(educationSorted, key=lambda x: x.education) ]

print(*peopleWithEducation, sep="\n")

('10th', 933)
('11th', 1175)
('12th', 433)
('1st-4th', 168)
('5th-6th', 333)
('7th-8th', 646)
('9th', 514)
('Assoc-acdm', 1067)
('Assoc-voc', 1382)
('Bachelors', 5355)
('Doctorate', 413)
('HS-grad', 10501)
('Masters', 1723)
('Preschool', 51)
('Prof-school', 576)
('Some-college', 7291)